<!-- formulari de recerca-->
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="form-outline form-white mb-4">
            <label class="form-label">Buscar</label>
            <input type="titolpeli" placeholder="introdueix un títol" name="titolpeli" id="titolpeli" class="form-control form-control-lg" [(ngModel)]="titolquebusco"/>
        </div>
        <button class="btn btn-outline-dark btn-lg px-5" type="submit" (click)="ferConsulta()">enviar</button>
</div>

<!-- Galeria de cartells -->
<div class="row align-items-center" style="margin-left: 10px; margin-right: 10px; margin-top: 40px;">
    <div *ngFor="let p of llJuegos; let i = index" class="col-xs-6 col-sm-4 col-md-3 col-lg-2item" style="margin-bottom: 10px;">
        <div class="card">
            <img src="{{ p.background_image }}" class="card-img-top" />
            <div class="card-body" style="background-color: dimgray;">
                <p class="card-text">{{ p.released }}<br />
                    <span style="color: white;">{{ p.name }}</span><br />
                    <!-- <span style="font-style: italic;">{{p.Type }}</span> -->
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Fi Galeria -->